<SecondarySection heading="Broadcast Yourself on NewTube">
    <PrimaryCard>
        <div>
            <AccountFeatures />
        </div>
        <ContentSplitter />
        <SideLoginForm />
    </PrimaryCard>
</SecondarySection>
