<SecondarySection heading="Broadcast Yourself on NewTube">
    <div class="primary-card">
        <div id="account-features-wrapper">
            <AccountFeatures />
        </div>
        <ContentSplitter />
        <SideLoginForm />
    </div>
</SecondarySection>
