<PrimarySection heading="Sign Up">
    <div class="primary-card">
        Joining NewTube is free and easy. Just fill out the account information
        below.
        <SignUpForm />
    </div>
</PrimarySection>
