<div class="account-feature">
    <label>@label</label>
    @ChildContent
</div>

@code {
    [Parameter] public string? label { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}