.feature-highlight {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
}

label {
    width: 6.5em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
