@using Microsoft.AspNetCore.Components.Forms

<tr>
    <td>
        <label>@label</label>
    </td>
    <td>
        <input
            type="@type"
            placeholder="@placeholder"
            value="@value"
            @oninput="OnValueChanged" />
    </td>
</tr>

@code {
    [Parameter] public string? label { get; set; }
    [Parameter] public string? placeholder { get; set; }
    [Parameter] public string? type { get; set; }
    [Parameter] public string? value { get; set;}
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    
    private async Task OnValueChanged(ChangeEventArgs e) {
        value = e?.Value?.ToString();
        await ValueChanged.InvokeAsync(value);
    }
}