td {
    padding: 0.125em 0;
}
td:first-child {
    padding-right: 0.5em;
}
td:last-child {
    width: 100%;
}

label {
    font-weight: bold;
    float: right;
    white-space: nowrap;
}

input {
    padding: 0.25em;
    width: 100%;
}
