.nav-link {
    padding: 1em 1.75em;
    transform: skew(30deg);
    background-color: #4DAFF4;
    margin: 0 0.25em;
}

.nav-link:first-of-type {
    transform: skew(30deg);
    position: relative;
    padding: 1em 0.75em;
}

.nav-link:first-of-type .nav-link-label {
    margin-right: 0.75em;
    padding: 0em;
}

.nav-link:first-of-type::before {
    content: '';
    background-color: inherit;
    position: absolute;
    top: 0;
    left: -1.25em;
    width: 4em;
    height: 100%;
    transform: skew(-30deg);
}

.nav-link-label {
    display: flex;
    justify-content: center;
    transform: skew(-30deg);
    font-size: 2em;
    font-weight: bold;
}

.nav-link-label a {
    color: white;
    text-decoration: none;
}
