@page "/"

<MainContainer>
    <div class="primary-content-wrapper">
        <PrimarySection heading="new section" headerLink="@headerLink">
            <VideoCard />
        </PrimarySection>
    </div>
    <div class="secondary-content-wrapper">
        <SecondarySection heading="Broadcast Yourself on NewTube">
            test
        </SecondarySection>
    </div>
</MainContainer>

@code {
    public Anchor headerLink = new Anchor("/featured", "see more");
}
