<div class="secondary-card">
    <div class="image-wrapper">
        <img src="https://placehold.co/200x200" />
    </div>
    <div class="card-child-content">
        <a href="categories/sports">Sports</a>
        <div class="category-metadata-wrapper">
            <LabeledContent label="Today:">130</LabeledContent>
            <LabeledContent label="Total:">34392</LabeledContent>
        </div>        
    </div>
</div>
