<SecondarySection heading="Featured Channels">
    <div class="card-container">
        <ImageCard imageSource="https://placehold.co/200">
                <a href="/channel/my-cool-channel">My Cool Channel My Cool Channel My Cool Channel</a>
                <div class="metadata-wrapper">
                    <MetadataLine>300 subscribers</MetadataLine>
                    <MetadataLine>20 videos</MetadataLine>
                </div>
        </ImageCard>
    </div>
</SecondarySection>
