<SecondarySection heading="Featured Channels">
    <div class="card-container">
        <ImageCardWithAnchor imageSource="https://placehold.co/200" anchor="@Anchor">
            <MetadataLine>300 subscribers</MetadataLine>
            <MetadataLine>20 videos</MetadataLine>
        </ImageCardWithAnchor>
    </div>
</SecondarySection>

@code {
    public Anchor Anchor = new Anchor("/channel/my-cool-channel", "My Cool Channel My Cool Channel My Cool Channel");
}
