.card-container {
    margin-top: 0.5em;
}

.channel-metadata {
    text-align: left;
}

.channel-link {
    font-weight: bold;
}

.metadata-wrapper {
   margin-top: 0.25em; 
}

::deep .image-card {
    max-width: 10em;
}
