.main-wrapper {
    display: flex;
    margin: 2em;
    justify-content: center;
    max-width: 110em;
}

.main {
    display: flex;
    background-color: #ebebeb;
    padding: 1em;
    border-radius: 0.25em;
    flex-direction: column;
}
