<nav>
    <PrimaryNavItem href="/" label="Home" />
    <PrimaryNavItem href="/videos" label="Videos" />
    <PrimaryNavItem href="/channels" label="Channels" />
    <PrimaryNavItem href="/categories" label="Categories" />
</nav>
