<nav>
    <div class="nav-link">
        <div class="nav-link-label">
            <a href="/">Home</a>
        </div>
    </div>
    <div class="nav-link">
        <div class="nav-link-label">
            <a href="/videos">Videos</a>
        </div>
    </div>
    <div class="nav-link">
        <div class="nav-link-label">
            <a href="/channels">Channels</a>
        </div>
    </div>
    <div class="nav-link">
        <div class="nav-link-label">
            <a href="/categories">Categories</a>
        </div>
    </div>
</nav>