<nav>
    <NavLink href="/" label="Home" />
    <NavLink href="/videos" label="Videos" />
    <NavLink href="/channels" label="Channels" />
    <NavLink href="/categories" label="Categories" />
</nav>
