<div class="side-login-form">
    <div class="account-feature">
        <label>Watch</label> Instantly find and watch tonnes of fast streaming videos.
    </div>
    <div class="account-feature">
        <label>Upload</label>Quickly upload and tag vidoes with almost any video format.
    </div>
    <div class="account-feature">
        <label>Share</label>Easily share your videos with family, friends or co-workers.
    </div>
    <hr />
</div>
@code {

}
