<SecondarySection heading="Broadcast Yourself on NewTube">
    <div class="side-account-panel">
        <div class="account-feature">
            <label>Watch</label> Instantly find and watch tonnes of fast streaming videos.
        </div>
        <div class="account-feature">
            <label>Upload</label>Quickly upload and tag vidoes with almost any video format.
        </div>
        <div class="account-feature">
            <label>Share</label>Easily share your videos with family, friends or co-workers.
        </div>
        <hr />
        <form>
            <h3>Member Login</h3>
            <table>
            <tbody>
                <LabeledInputTableRow label="User Name:" type="text" placeholder="user name" />
                <LabeledInputTableRow label="Password:" type="password" placeholder="password" />
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                    <a href="/signup">Sign Up</a>
                </td>
            </tr>
            </tbody>
            </table>
        </form>
    </div>
</SecondarySection>
@code {

}
