<div class="video-card">
    <img src="https://placehold.co/148x83?text=thumbnail" />
    <div class="video-metadata-wrapper">
        <h1>Video Title</h1>
        <p>Video description</p>
        <div class="labeled-content-wrapper">
            <label>From:</label>My cool channel
        </div>
        <div class="added-in-category-container">
            <div class="labeled-content-wrapper">
                <label>Added:</label>2 days ago
            </div>
            <div class="labeled-content-wrapper">
                <label>in Category:</label>Sports
            </div>
        </div>
        <div class="labeled-content-wrapper">
            <label>Views:</label>34,423
        </div>
    </div>
</div>