<div class="video-card">
    <img src="https://placehold.co/148x83?text=thumbnail" />
    <div class="video-metadata-wrapper">
        <h1>Video Title</h1>
        <p>Video description</p>
        <LabeledContent label="From:">My cool channel</LabeledContent>
        <AddedInCategory added="2 days ago" category="Sports"/>
        <LabeledContent label="Views:">34,423</LabeledContent>
        <div class="rating-display">
            <div class="rating-stars-wrapper">
                <div class="rating-star-full"></div>
                <div class="rating-star-full"></div>
                <div class="rating-star-full"></div>
                <div class="rating-star-half"></div>
                <div class="rating-star-blank"></div>
            </div>
            <div class="rating-amount-wrapper">220 ratings</div>
        </div>
    </div>
</div>