<div class="video-card">
    <img src="https://placehold.co/148x83?text=thumbnail" />
    <div class="video-metadata-wrapper">
        <h1>Video Title</h1>
        <p>Video description</p>
        <LabeledContent label="From:">My cool channel</LabeledContent>
        <AddedInCategory />
        <LabeledContent label="Views:">34,423</LabeledContent>
    </div>
</div>