<SecondarySection heading="Featured Channels">
    <div class="card-container">
        <ChannelCard />
    </div>
</SecondarySection>

@code {
    public Anchor Anchor = new Anchor("/channel/my-cool-channel", "My Cool Channel My Cool Channel My Cool Channel");
}
