<SecondarySection heading="Broadcast Yourself on NewTube">
    <div class="side-account-panel">
        <AccountFeature label="Watch">
            Instantly find and watch tonnes of fast streaming videos.
        </AccountFeature>
        <AccountFeature label="Upload">
            Quickly upload and tag vidoes with almost any video format.
        </AccountFeature>
        <AccountFeature label="Share">
            Easily share your videos with family, friends or co-workers.
        </AccountFeature>
        <ContentSplitter />
        <SideLoginForm />
    </div>
</SecondarySection>
