<header>
    <RowWrapper justifyContent="space-between">
        <h1>NewTube</h1>
        <div>
            <div class="site-header-link">
                <a href="/signup">Sign Up</a>
            </div>
            <div class="site-header-link">
                <a href="/account">My Account</a>
            </div>
            <div class="site-header-link">
                <a href="/history">Viewing History</a>
            </div>
            <div class="site-header-link">
                <a href="/login">Log In</a>
            </div>
        </div>
    </RowWrapper>
</header>
