<header>
    <div flex="row" justify-content="space-between">
        <dif flex="column" justify-content="center">
            <h1>NewTube</h1>
        </dif>
        <div flex="column" justify-content="space-between">
            <HeaderUtilsBar/>
            <SearchBar />
        </div>
    </div>
</header>
