<header>
    <RowWrapper justifyContent="space-between">
        <h1>NewTube</h1>
        <RowWrapper justifyContent="center">
            <a href="/signup">Sign Up</a>
            <a href="/account">My Account</a>
            <a href="/history">Viewing History</a>
            <a href="/login">Log In</a>
        </RowWrapper>
    </RowWrapper>
</header>
