<header>
    <RowWrapper justifyContent="space-between">
        <ColumnWrapper justifyContent="center">
            <h1>NewTube</h1>
        </ColumnWrapper>
        <ColumnWrapper justifyContent="space-between">
            <HeaderUtilsBar/>
            <SearchBar />
        </ColumnWrapper>
    </RowWrapper>
</header>
