header {
    margin: 1.75em 0;
}

h1 {
    margin: 0;
}

div.site-header-link {
    margin: 0 0.25em;
    float: left;
}

div.site-header-link:first-of-type {
    margin-left: 0;
}

div.site-header-link:last-of-type {
    margin-right: 0;
}