@inherits FragmentBase
@rendermode InteractiveWebAssembly
@inject AuthClient authClient

<TableWrapper>
    <LabeledInputTableRow
    label="User Name:"
    type="text"
    placeholder="user name"
    @bind-value="@loginRequest.Username" />
    <LabeledInputTableRow
    label="Password:"
    type="password"
    placeholder="password"
    @bind-value="@loginRequest.Password" />
    <TableFormFooter>
        <input type="submit" value="Login" @onclick="@requestLogin" @onclick:preventDefault/>
        @if (displaySignUpLink){
            <a href="/signup">Sign Up</a>
        }
    </TableFormFooter>
</TableWrapper>

@code {
    [Parameter] public bool displaySignUpLink { get; set; }
    private LoginRequest loginRequest { get; set; } = new();

    public async Task requestLogin()
    {
        await authClient.RequestLoginAsync(loginRequest);
    }
}
