@inherits FragmentBase
@rendermode InteractiveAuto

<TableWrapper>
    <LabeledInputTableRow
        label="User Name:"
        type="text"
        placeholder="user name"
        @bind-value="@Username" />
    <LabeledInputTableRow
        label="Password:"
        type="password"
        placeholder="password"
        @bind-value="@Password" />
    <TableFormFooter>
        <input type="submit" value="Login" @onclick:preventDefault/>
        @if (displaySignUpLink){
            <a href="/signup">Sign Up</a>
        }
    </TableFormFooter>
</TableWrapper>

@code {
    [Parameter] public bool displaySignUpLink { get; set; }
    
    private string Username { get; set; }
    private string Password { get; set; }
}
