@inherits FragmentBase
@rendermode InteractiveAuto

<TableWrapper>
    <LabeledInputTableRow label="User Name:" type="text" placeholder="user name" @bind-value="@UserName" />
    <LabeledInputTableRow label="Password:" type="password" placeholder="password" />
    <TableFormFooter>
        <input type="submit" value="Login" />
        @if (displaySignUpLink){
            <a href="/signup">Sign Up</a>
        }
    </TableFormFooter>
</TableWrapper>

@code {
    [Parameter] public bool displaySignUpLink { get; set; }
    
    public string UserName { get; set; }
}
