@inherits FragmentBase
@rendermode InteractiveWebAssembly
@inject IAuthService authClient
@inject NavigationManager navigationManager

<TableWrapper>
    <LabeledInputTableRow
    label="User Name:"
    type="text"
    placeholder="email"
    @bind-value="@email" />
    <LabeledInputTableRow
    label="Password:"
    type="password"
    placeholder="password"
    @bind-value="@password" />
    <TableFormFooter>
        <input type="submit" value="Login" @onclick="@requestLogin" @onclick:preventDefault/>
        @if (displaySignUpLink){
            <a href="/signup">Sign Up</a>
        }
    </TableFormFooter>
</TableWrapper>

@code {
    [Parameter] public bool displaySignUpLink { get; set; }

    private string email { get; set; } = "";
    private string password { get; set; } = "";

    public async Task requestLogin()
    {
        RequestResponse response = await authClient.RequestLoginAsync(email, password);
        if (response.IsSuccessful)
        {
            navigationManager.NavigateTo("/");
        }
    }
}
