@* 
    TODO: split this into components. The only reason why it is fully custom
    is because that it has a fixed max-width.
*@

<ImageCard imageSource="https://placehold.co/200">
        <a href="channels/my-cool-channel">My cool channel</a>
        <div class="channel-metadata-wrapper">
            <MetadataLine>Subscribers 130</MetadataLine>
            <MetadataLine>Videos 352</MetadataLine>
        </div>        
</ImageCard>
