<div class="secondary-card">
    <SpacedRow>
        <div flex="column" justify-content="center">
            <img src="https://placehold.co/100x100?text=profile%20foto" />
        </div>
        <div>
            <h2>(user name) | (post date)</h2>
            (insert comment here)
        </div>
    </SpacedRow>
</div>
 