@inherits FragmentBase

<div class="secondary-card">
    <div class="image-wrapper">
        <img src="@imageSource" />
    </div>
    <div class="card-child-content">@ChildContent</div>
</div>

@code {
    [Parameter] public string? imageSource { get; set; }
}
