@inherits FragmentBase

<SecondaryCard>
    <div class="image-wrapper">
        <img src="@imageSource" />
    </div>
    <div class="card-child-content">@ChildContent</div>
</SecondaryCard>

@code {
    [Parameter] public string? imageSource { get; set; }
}
