<div class="added-in-category">
    <LabeledContent label="Added:">@added</LabeledContent>
    <LabeledContent label="in Category:">@category</LabeledContent>
</div>

@code {
    [Parameter] public string? added { get; set; }
    [Parameter] public string? category { get; set; }
}
