<ImageCard imageSource="https://placehold.co/200x200">
        <a href="categories/sports">Sports</a>
        <div class="category-metadata-wrapper">
            <LabeledContent label="Today:">130</LabeledContent>
            <LabeledContent label="Total:">34392</LabeledContent>
        </div>   
</ImageCard>
