@* 
    TODO: split this into components. The only reason why it is fully custom
    is because that it has a fixed max-width.
*@
<div class="secondary-card">
    <div class="image-wrapper">
        <img src="https://placehold.co/200" />
    </div>
    <div class="card-child-content">
        <a href="channels/my-cool-channel">My cool channel</a>
        <div class="channel-metadata-wrapper">
            <MetadataLine>Subscribers 130</MetadataLine>
            <MetadataLine>Videos 352</MetadataLine>
        </div>        
    </div>
</div>
