<div>
    <AuthorizeView>
        <Authorized>
            <a href="/account">My Acccount</a>
            <a href="/history">Viewing History</a>
            <a href="/logout">Log Out</a>
        </Authorized>
        <NotAuthorized>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        </NotAuthorized>
    </AuthorizeView>
</div>