<div>
    <UtilLink href="/signup">Sign Up</UtilLink>
    <UtilLink href="/account">My Account</UtilLink>
    <UtilLink href="/history">Viewing History</UtilLink>
    <UtilLink href="/login">Log In</UtilLink>
</div>