<div>
    <div class="util-link">
        <a href="/signup">Sign Up</a>
    </div>
    <div class="util-link">
        <a href="/account">My Account</a>
    </div>
    <div class="util-link">
        <a href="/history">Viewing History</a>
    </div>
    <div class="util-link">
        <a href="/login">Log In</a>
    </div>
</div>