@rendermode InteractiveAuto

@inject NavigationManager navigationManager

<div>
    <AuthorizeView>
        <Authorized>
            <a href="/account">My Account</a>
            <a href="/history">Viewing History</a>
            <span @onclick="@requestLogout">Log Out</span>
        </Authorized>
        <NotAuthorized>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    public void requestLogout()
    {
        Console.WriteLine("request log out");
    }
}
