<TableWrapper>
    <LabeledInputTableRow label="User Name:" type="text" placeholder="user name" />
    <LabeledInputTableRow label="Password:" type="password" placeholder="password" />
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Login" />
            @if (ShowSignUpLink)
            {   
                <a href="/signup">Sign Up</a>
            }
        </td>
    </tr>
</TableWrapper>

@code {
    [Parameter]
    public bool ShowSignUpLink { get; set; } = false;
}