@inherits FragmentBase

<MainWrapper>
    <SiteHeader />
    <div class="main">
        <PrimaryNav />
        <div class="row-wrapper">
            @ChildContent
        </div>
    </div>
</MainWrapper>