.main-wrapper {
    display: flex;
    margin: 2em;
    justify-content: center;
}

.main {
    display: flex;
    background-color: #ebebeb;
    padding: 0.75em;
    border-radius: 0.25em;
    flex-direction: column;
    max-width: 110em;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
}
