NewTube is a way to get your videos to the people who matter to you.
<br />
With NewTube you can:
<ul>
    <li>Upload, tag and share your videos worldwide</li>
    <li>Browse thousands of original videos uploaded by community members</li>
    <li>
        Find, join and create video groups to connect with people with similar
        interests
    </li>
    <li>Customize your experience with playlists and subscriptions</li>
    <li>Integrate NewTube with your website using video embeds or APIs</li>
</ul>