<div class="rating-display">
    <div class="rating-stars-wrapper">
        <RatingStar type="full" />
        <RatingStar type="full" />
        <RatingStar type="full" />
        <RatingStar type="half" />
        <RatingStar type="blank" />
    </div>
    <div class="rating-amount-wrapper">220 ratings</div>
</div>
