<form>
    <h3>Member Login</h3>
    <TableWrapper>
        <LabeledInputTableRow label="User Name:" type="text" placeholder="user name" />
        <LabeledInputTableRow label="Password:" type="password" placeholder="password" />
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
                <a href="/signup">Sign Up</a>
            </td>
        </tr>
    </TableWrapper>
</form>