<form>
    <h3>Member Login</h3>
    <table>
        <tbody>
            <LabeledInputTableRow label="User Name:" type="text" placeholder="user name" />
            <LabeledInputTableRow label="Password:" type="password" placeholder="password" />
            <SideLoginFormFooter />
        </tbody>
    </table>
</form>