@page "/channel"
@layout MainLayout

<div class="row">
    <div class="column">
        <SecondarySection heading="<channel> Channel">
            <div class="secondary-card">
                <BlankSection heading="hello world!">
                    lorem ipsum
                </BlankSection>
            </div>
        </SecondarySection>
        <SecondarySection heading="Connect with <channel>">
            <div class="secondary-card">
                <BlankSection heading="hello world!">
                    lorem ipsum
                </BlankSection>
            </div>
        </SecondarySection>

    </div>
    <div class="column">
        <div class="primary-card">
            <h1>Video</h1>
        </div>
        <PrimarySection heading="<channel> links">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Videos (<channel video amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Favorites (<favorite amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Subscribers (<subscriber amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Comments (<comment amount>)">
            lorem ipsum
        </PrimarySection>
    </div>
</div>
