@page "/channel"
@layout MainLayout

<SpacedRow>
    <SpacedColumn>
        <SecondarySection heading="smosh Channel">
            <div class="secondary-card">
                <SpacedRow>
                    <div>
                        <img src="https://placehold.co/100x100?text=profile%20foto" />
                    </div>
                    <BlankSection heading="smosh">
                        <LabeledContent label="Style:">Variety</LabeledContent>
                        <LabeledContent label="Joined:">November 19, 2005</LabeledContent>
                        <LabeledContent label="Last Login:">4 hours ago</LabeledContent>
                        <LabeledContent label="Videos Watched:">10,680</LabeledContent>
                    </BlankSection>
                </SpacedRow>
                <LabeledContent label="Subscribers:"></LabeledContent>
            </div>
        </SecondarySection>
        <SecondarySection heading="Connect with <channel>">
            <div class="secondary-card">
                <BlankSection heading="hello world!">
                    lorem ipsum
                </BlankSection>
            </div>
        </SecondarySection>

    </SpacedColumn>
    <SpacedColumn>
        <div class="primary-card">
            <h1>Video</h1>
        </div>
        <PrimarySection heading="<channel> links">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Videos (<channel video amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Favorites (<favorite amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Subscribers (<subscriber amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Comments (<comment amount>)">
            <CommentCard />
            <CommentCard />
            <CommentCard />
        </PrimarySection>
    </SpacedColumn>
</SpacedRow>
