@page "/channel"
@layout MainLayout

<RowWrapper>
    <ColumnWrapper>
        <SecondarySection heading="<channel> Channel">
            <PrimaryCard>
                <BlankSection heading="hello world!">
                    lorem ipsum
                </BlankSection>
            </PrimaryCard>
        </SecondarySection>
        <SecondarySection heading="Connect with <channel>">
            <PrimaryCard>
                <BlankSection heading="hello world!">
                    lorem ipsum
                </BlankSection>
            </PrimaryCard>
        </SecondarySection>
    </ColumnWrapper>
    <ColumnWrapper>
        <PrimaryCard>
            <h1>Video</h1>
        </PrimaryCard>
        <PrimarySection heading="<channel> links">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Videos (<channel video amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Favorites (<favorite amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Subscribers (<subscriber amount>)">
            lorem ipsum
        </PrimarySection>
    </ColumnWrapper>
</RowWrapper>