@page "/channel"
@layout MainLayout

<RowWrapper>
    <ColumnWrapper>
        <SecondarySection heading="<channel> Channel">
            <SecondaryCard>
                <BlankSection heading="hello world!">
                    lorem ipsum
                </BlankSection>
            </SecondaryCard>
        </SecondarySection>
        <SecondarySection heading="Connect with <channel>">
            <SecondaryCard>
                <BlankSection heading="hello world!">
                    lorem ipsum
                </BlankSection>
            </SecondaryCard>
        </SecondarySection>
    </ColumnWrapper>
    <ColumnWrapper>
        <div class="primary-card">
            <h1>Video</h1>
        </div>
        <PrimarySection heading="<channel> links">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Videos (<channel video amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Favorites (<favorite amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Subscribers (<subscriber amount>)">
            lorem ipsum
        </PrimarySection>
        <PrimarySection heading="Comments (<comment amount>)">
            lorem ipsum
        </PrimarySection>
    </ColumnWrapper>
</RowWrapper>