@page "/"
@layout MainLayout

<div class="row">
    <FeaturedVideosSection />
    <div class="column">
        <SideAccountSection />
        <FeaturedChannelsSection />
        <PopularCategoriesSection />
    </div>
</div>
