@page "/"
@layout MainLayout

<div class="row">
    <FeaturedVideosSection />
    <ColumnWrapper>
        <SideAccountSection />
        <FeaturedChannelsSection />
        <PopularCategoriesSection />
    </ColumnWrapper>
</div>
