@page "/"
@layout MainLayout

<div flex="row">
    <FeaturedVideosSection />
    <div flex="column">
        <SideAccountSection />
        <FeaturedChannelsSection />
        <PopularCategoriesSection />
    </div>
</div>
