@page "/signup"

<MainContainer>
    <h1>Join NewTube</h1>
    <RowWrapper>
        <SignUpSection />
        <ColumnWrapper>
            <PrimarySection heading="Log In">
                <BlankCard>
                    Already a member? Login here.
                    <LoginForm />
                </BlankCard>
            </PrimarySection>
            <WhatIsNewTubeSection />
        </ColumnWrapper>
    </RowWrapper>
</MainContainer>
