@page "/signup"
@layout MainLayout

<h1>Join NewTube</h1>
<SpacedRow>
    <SignUpSection />
    <SpacedColumn>
        <SignUpLoginSection />
        <WhatIsNewTubeSection />
    </SpacedColumn>
</SpacedRow>
