@page "/signup"
@layout MainLayout

<h1>Join NewTube</h1>
<div class="row">
    <SignUpSection />
    <ColumnWrapper>
        <SignUpLoginSection />
        <WhatIsNewTubeSection />
    </ColumnWrapper>
</div>
