@page "/signup"
@layout MainLayout

<h1>Join NewTube</h1>
<div class="row">
    <SignUpSection />
    <div class="column">
        <SignUpLoginSection />
        <WhatIsNewTubeSection />
    </div>
</div>
