@page "/signup"
@layout MainLayout

<h1>Join NewTube</h1>
<div flex="row">
    <SignUpSection />
    <div flex="column">
        <SignUpLoginSection />
        <WhatIsNewTubeSection />
    </div>
</div>
