@page "/signup"
@layout MainLayout

<h1>Join NewTube</h1>
<RowWrapper>
    <SignUpSection />
    <ColumnWrapper>
        <SignUpLoginSection />
        <WhatIsNewTubeSection />
    </ColumnWrapper>
</RowWrapper>
