div {
    background: linear-gradient(-45deg, transparent 1.25em, white 0);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    padding-right: 1.25em;
    height: fit-content;
}
