div {
    background: linear-gradient(-45deg, transparent 1.25em, white 0);
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    padding-left: 0.75em;
    padding-right: 1.25em;
}

/*.side-account-panel {
    width: 20em;
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1.25em;
    background: linear-gradient(-45deg, transparent 1em, white 0);
}


div {
    background-color: white;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1.25em;
    background: linear-gradient(-45deg, transparent 1.25em, white 0);
}

.video-card {
    padding: 0.5em;
    background: linear-gradient(-45deg, transparent 1.25em, white 0);
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
}
*/