@inherits FragmentBase

<section>
    <PrimarySectionHeader heading="@heading" headerLink="@headerLink"/>
    @ChildContent
</section>

@code {
    [Parameter] public string? heading { get; set; } = null;
    [Parameter] public Anchor? headerLink { get; set; } = null;
}
