header {
    background-color: #83a9f3;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25em 0.5em;
}

h1 {
    font-size: 1.75em;
    font-weight: bold;
    margin: 0;
}
