div {
    display: flex;
    flex-direction: column;
}

div[justify-content = "center"] {
    justify-content: center;
}

div[justify-content = "space-between"] {
    justify-content: space-between;
}

div[justify-content = "space-around"] {
    justify-content: space-around;
}

div[justify-content = "space-evenly"] {
    justify-content: space-evenly;
}

div ::deep > section,
div ::deep > div{
    margin: 0.25em 0;
}

div ::deep > section:first-child,
div ::deep > div:first-child{
    margin-top: 0;
}

div ::deep > section:last-child,
div ::deep > div:last-child {
    margin-bottom: 0;
}
