div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div[justify-content = "center"] {
    justify-content: center;
}

div[justify-content = "space-between"] {
    justify-content: space-between;
}

div[justify-content = "space-around"] {
    justify-content: space-around;
}

div[justify-content = "space-evenly"] {
    justify-content: space-evenly;
}
