@using NewTube.Client.Router
@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="stylesheet" href="global.styles.css" />
        <link rel="stylesheet" href="NewTube.Server.styles.css" />
        <link rel="icon" type="image/png" href="favicon.png" />
        <HeadOutlet />
    </head>

    <body>
        <RouterOutlet @rendermode="InteractiveWebAssembly"/>
        <script src="_framework/blazor.web.js"></script>
    </body>

</html>
