@inherits LayoutComponentBase

<RowWrapper justifyContent="center">
    <div>
        <SiteHeader />
        <main>
            <PrimaryNav />
            @Body
        </main>
    </div>
</RowWrapper>
