@inherits LayoutComponentBase

<div flex="row" justify-content="center">
    <div>
        <SiteHeader />
        <main>
            <PrimaryNav />
            @Body
        </main>
    </div>
</div>
