html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primary-card {
    background: linear-gradient(-45deg, transparent 1.25em, white 0);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    padding-right: 1.25em;
    height: fit-content;
}

.secondary-card {
    background: linear-gradient(-45deg, transparent 1em, white 0);
    padding: 0.5em;
}

[flex="column"], [flex="row"] { display: flex; }
[flex="column"] { flex-direction: column; }
[flex="row"] { flex-direction: row; }
[justify-content="center"] { justify-content: center; }
[justify-content="space-between"] { justify-content: space-between; }
[justify-content="space-evenly"] { justify-content: space-evenly; }
